# Byte-compiled / optimized
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv

# Environment files with secrets
.env
.envrc
.env.local

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.pytest_cache/

# UV
.python-version

# mypy / pytype / Ruff
.mypy_cache/
.pytype/
.ruff_cache/

# IDE
.idea/
.vscode/
